@font-face{
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Bold.ttf);
    font-weight: bold;
}
@font-face{
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face{
    font-family: 'Post No Bills Jaffna';
    src: url(../fonts/PostNoBillsJaffna-Bold.ttf);
}
@font-face{
    font-family: 'PT Sans';
    src: url(../fonts/PTS55F.ttf);
}
@font-face{
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}